# Python Data Classes

In Python, the dataclass decorator is a feature introduced in Python 3.7 that provides a concise way to define classes primarily intended to store data. It automatically generates several special methods, such as init, repr, and eq, based on the class attributes you define. This simplifies the process of creating and working with data-focused classes.

In [1]:
from dataclasses import dataclass

@dataclass
class Person:
    name:str
    age:int
    profession:str

The @dataclass decorator automatically generates the following methods for you:

init(): Initializes the object and assigns the provided values to the attributes.
repr(): Provides a string representation of the object.
eq(): Implements equality comparison between two objects of the class based on their attributes.

In [2]:
person1=Person('Krish',17,'SE')
person1

Person(name='Krish', age=17, profession='SE')

In [3]:
person1.age

17

In [4]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,14,'red')

In [5]:
rectangle2.color

'red'

In [6]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [7]:
point=Point(3,4)

In [8]:
point.x,point.y

(3, 4)

In [9]:
point.x=12

FrozenInstanceError: cannot assign to field 'x'

In [10]:
## inheritance 

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    department:str

In [11]:
person=Person('Krish',31)
employee=Employee("KRish",31,'123','AI')

In [12]:
employee.name

'KRish'

In [13]:
## Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [14]:
address=Address('123 MAin street','Bangalore','12345')
person=Person("Krish",31,address)

In [15]:
person.address.city

'Bangalore'